@page "/"

<PageTitle>The Fellowship of the Ring</PageTitle>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">The Fellowship of the Ring</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">"One ring to rule them all, one ring to find them, One ring to bring them all, and in the darkness bind them."</p>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 m-4">
    <div class="col">
        <wa-card>
            <img slot="image" src="https://images.unsplash.com/photo-1616423640778-28d1b53229bd?q=80&w=400" alt="Frodo Baggins" />
            <strong>Frodo Baggins</strong><br />
            Ring-bearer<br />
            <br />
            <wa-button variant="primary">Join Fellowship</wa-button>
        </wa-card>
    </div>
    <div class="col">
        <wa-card>
            <img slot="image" src="https://images.unsplash.com/photo-1598282361730-1ee068cf7420?q=80&w=400" alt="Gandalf" />
            <strong>Gandalf the Grey</strong><br />
            Wizard<br />
            <br />
            <wa-button variant="success">Cast Spell</wa-button>
        </wa-card>
    </div>
    <div class="col">
        <wa-card>
            <img slot="image" src="https://images.unsplash.com/photo-1542840410-3092f99611a3?q=80&w=400" alt="Aragorn" />
            <strong>Aragorn</strong><br />
            Ranger of the North<br />
            <br />
            <wa-button variant="warning">Draw Sword</wa-button>
        </wa-card>
    </div>
</div>
